//=====================================================================
// Unordered list variants mixins (disc, circle and square)
//
// Easily pump out default styles for unordered lists
//
//	TODO:	Separate shapes and colors into two classes so that there
//			are less classes that get generated
//=====================================================================
//  Disc variant for unordered lists
//=====================================================================
@mixin ul-disc-variant ($background, $border){
	list-style: none;
    padding: 0;
    margin: 0;
    & li{
    	padding-left: 16px; 
    	&:before{
    		display: inline-block;
      		position: relative;
			content: "";
			top: 1px;
	  		left: 1px;
	  		bottom: 1px;
	  		right: 1px;
			padding: 2px;
			border-radius: 4px;
			margin: 2px 8px;
			background-color: $background;
			border: 1px solid $border;
    	}
    }
}
//=====================================================================
//  Circle variant for unordered lists
//=====================================================================
@mixin ul-circle-variant ($border){
	list-style: none;
    padding: 0;
    margin: 0;
    & li{
    	padding-left: 16px; 
    	&:before{
    		display: inline-block;
      		position: relative;
			content: "";
			top: 1px;
	  		left: 1px;
	  		bottom: 1px;
	  		right: 1px;
			padding: 2px;
			border-radius: 4px;
			margin: 2px 8px;
			border: 1px solid $border;
    	}
    }
}
//=====================================================================
//  Square variant for unordered lists
//=====================================================================
@mixin ul-square-variant ($background, $border){
	list-style: none;
    padding: 0;
    margin: 0;
    & li{
    	padding-left: 16px; 
    	&:before{
    		display: inline-block;
      		position: relative;
			content: "";
			top: 1px;
	  		left: 1px;
	  		bottom: 1px;
	  		right: 1px;
			padding: 2px;
			border-radius: 2px;
			margin: 2px 8px;
			background-color: $background;
			border: 1px solid $border;
    	}
    }
}
//=====================================================================
//  Unordered list alternate size
//=====================================================================
ul.ul-big{
    & li{
    	&:before{
			content: "";
			top: 1.5px !important;
	  		left: 1.5px !important;
	  		bottom: 1.5px !important;
	  		right: 1.5px !important;
			padding: 3.5px !important;
			margin: 2px 8px;
    	}
    }	
}
//=====================================================================
//  Unordered list styles
//=====================================================================
ul.ul-disc-default{
	@include ul-disc-variant($shadeBlackGray, darken($shadeBlackGray,12%));
}
ul.ul-circle-default{
	@include ul-circle-variant($shadeBlackGray);
}
ul.ul-square-default{
	@include ul-square-variant($shadeBlackGray, darken($shadeBlackGray,12%));
}
ul.ul-disc-primary{
	@include ul-disc-variant($shadeBlue, $shadeDarkBlue);
}
ul.ul-circle-primary{
	@include ul-circle-variant($shadeDarkBlue);
}
ul.ul-square-primary{
	@include ul-square-variant($shadeBlue, $shadeDarkBlue);
}
ul.ul-disc-success{
	@include ul-disc-variant($shadeGreen, $shadeDarkGreen);
}
ul.ul-circle-success{
	@include ul-circle-variant($shadeDarkGreen);
}
ul.ul-square-success{
	@include ul-square-variant($shadeGreen, $shadeDarkGreen);
}
ul.ul-disc-info{
	@include ul-disc-variant($shadeCyan, $shadeDarkCyan);
}
ul.ul-circle-info{
	@include ul-circle-variant($shadeDarkCyan);
}
ul.ul-square-info{
	@include ul-square-variant($shadeCyan, $shadeDarkCyan);
}
ul.ul-disc-warning{
	@include ul-disc-variant($shadeOrange, $shadeDarkOrange);
}
ul.ul-circle-warning{
	@include ul-circle-variant($shadeDarkOrange);
}
ul.ul-square-warning{
	@include ul-square-variant($shadeOrange, $shadeDarkOrange);
}
ul.ul-disc-danger{
	@include ul-disc-variant($shadeRed, $shadeDarkRed);
}
ul.ul-circle-danger{
	@include ul-circle-variant($shadeDarkRed);
}
ul.ul-square-danger{
	@include ul-square-variant($shadeRed, $shadeDarkRed);
}
ul.ul-disc-notice{
	@include ul-disc-variant($shadePurple, $shadeDarkPurple);
}
ul.ul-circle-notice{
	@include ul-circle-variant($shadeDarkPurple);
}
ul.ul-square-notice{
	@include ul-square-variant($shadePurple, $shadeDarkPurple);
}
//=====================================================================
// Ordered list variants mixins (disc, circle and square)
//
// Easily pump out default styles for ordered lists
//=====================================================================
//  Disc variant for ordered lists
//=====================================================================
@mixin ol-disc-variant ($color, $background, $border) {
	counter-reset: item;
    padding-left: 16px;
    margin: 0;
    & li{
    	display: block;
    	padding-left: 0px;
    	left: -10px;
    	&:before{
    		content: "\00a0" counter(item) ".\00a0";
            counter-increment: item;
    		color: $color;
    		display: inline-block;
      		position: relative;
			z-index: -10;
			top: 2px;
	  		left: 2px;
	  		bottom: 2px;
	  		right: 2px;
	  		margin: 2px 8px;
			border-radius: 50%;
			background-color: $background;
			border: 1px solid $border;
    	}
    }
}
//=====================================================================
//  Circle variant for ordered lists
//=====================================================================
@mixin ol-circle-variant ($border){
	counter-reset: item;
    padding-left: 16px;
    margin: 0;
    & li{
    	display: block;
    	padding-left: 0px;
    	left: -10px;
    	&:before{
    		content: "\00a0" counter(item) ".\00a0";
            counter-increment: item;
    		color: $shadeBlackGray;
    		display: inline-block;
      		position: relative;
			z-index: -10;
			top: 2px;
	  		left: 2px;
	  		bottom: 2px;
	  		right: 2px;
	  		margin: 2px 8px;
			border-radius: 50%;
			border: 1px solid $border;
    	}
    }
}
//=====================================================================
//  Square variant for ordered lists
//=====================================================================
@mixin ol-square-variant ($color, $background, $border){
	counter-reset: item;
    padding-left: 16px;
    margin: 0;
    & li{
    	display: block;
    	padding-left: 0px;
    	left: -10px;
    	&:before{
    		content: "\00a0" counter(item) ".\00a0";
            counter-increment: item;
    		color: $color;
    		display: inline-block;
      		position: relative;
			z-index: -10;
			top: 2px;
	  		left: 2px;
	  		bottom: 2px;
	  		right: 2px;
	  		margin: 2px 8px;
			border-radius: 4px;
			background-color: $background;
			border: 1px solid $border;
    	}
    }
}
//=====================================================================
//  Ordered list styles
//=====================================================================
ol.ol-disc-default{
	@include ol-disc-variant($shadeBlackGray, $shadeLightGray, $shadeDarkGray);
}
ol.ol-circle-default{
	@include ol-circle-variant($shadeBlackGray);
}
ol.ol-square-default{
	@include ol-square-variant($shadeBlackGray, $shadeLightGray, $shadeDarkGray);
}
ol.ol-disc-primary{
	@include ol-disc-variant($shadeWhite, $shadeBlue, $shadeDarkBlue);
}
ol.ol-circle-primary{
	@include ol-circle-variant($shadeDarkBlue);
}
ol.ol-square-primary{
	@include ol-square-variant($shadeWhite, $shadeBlue, $shadeDarkBlue);
}
ol.ol-disc-success{
	@include ol-disc-variant($shadeWhite, $shadeGreen, $shadeDarkGreen);
}
ol.ol-circle-success{
	@include ol-circle-variant($shadeDarkGreen);
}
ol.ol-square-success{
	@include ol-square-variant($shadeWhite, $shadeGreen, $shadeDarkGreen);
}
ol.ol-disc-info{
	@include ol-disc-variant($shadeWhite, $shadeCyan, $shadeDarkCyan);
}
ol.ol-circle-info{
	@include ol-circle-variant($shadeDarkCyan);
}
ol.ol-square-info{
	@include ol-square-variant($shadeWhite, $shadeCyan, $shadeDarkCyan);
}
ol.ol-disc-warning{
	@include ol-disc-variant($shadeWhite, $shadeOrange, $shadeDarkOrange);
}
ol.ol-circle-warning{
	@include ol-circle-variant($shadeDarkOrange);
}
ol.ol-square-warning{
	@include ol-square-variant($shadeWhite, $shadeOrange, $shadeDarkOrange);
}
ol.ol-disc-danger{
	@include ol-disc-variant($shadeWhite, $shadeRed, $shadeDarkRed);
}
ol.ol-circle-danger{
	@include ol-circle-variant($shadeDarkRed);
}
ol.ol-square-danger{
	@include ol-square-variant($shadeWhite, $shadeRed, $shadeDarkRed);
}
ol.ol-disc-notice{
	@include ol-disc-variant($shadeWhite, $shadePurple, $shadeDarkPurple);
}
ol.ol-circle-notice{
	@include ol-circle-variant($shadeDarkPurple);
}
ol.ol-square-notice{
	@include ol-square-variant($shadeWhite, $shadePurple, $shadeDarkPurple);
}